<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sd_dtu.apkaupdate">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <dependency>
            <groupId>com.msg91.sendotp.library</groupId>
            <artifactId>library</artifactId>
            <version>2.7</version>
            <type>pom</type>
        </dependency>

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OtpCheck" />
        <activity android:name=".QueryActivity" />
        <activity android:name=".VerifyActivity" />
        <activity android:name=".AllQueries" />
        <activity android:name=".DisplayEnquire" />
        <activity android:name=".DisplayDetails"
            android:parentActivityName=".MenuActivity"
            />
        <activity android:name=".MenuActivity"></activity>
    </application>

</manifest>